.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    margin-left: 400px; /* нужно потом удалить */
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    gap: 20px;
}

.content-container img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.content-container h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #3C7248;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    margin: 0;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 100px;
}

.appointment-back-home {
    width: 360px;
    height: 4rem;
    background-color: #F05508;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
}

.appointment-back-home:hover {
    background-color: #F68E5F;
    color: #fff;
    border: none;
}

.appointment-back-home:active {
    background-color: #F05508;
    color: #fff;
}